// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* This comment is
 * several lines long.
 * since it uses the CSS comment syntax,
 * it will appear in the CSS output. */
 $primary_color: #369;
 $secondary_color: #eee;
 body {
    //也可以定义局部变量
    $page_width: 300px;
    background-image: url('background.jpg');
    //background-repeat:no-repeat;
    //background-position:center;
    //background: $primary_color;
    #wrapper {
        width: $page_width;
        background: white;
        border: $secondary_color;
        h1 {color: $primary_color; }
    }
}
